.PreviousTrackButton {
  display: flex;
  width: 45px;
  height: 45px;
  background-color: black;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid transparent;
  outline: 0;
  justify-content: center;
  align-items: center;
}

.PreviousTrackButton {
  padding-right: 2px;
}

.fa-backward {
  color: white;
}
